body{
	background-color:#A2DED0;
}

.jumbotron {
  background-image:url('http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg'); 
  padding: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: -40px;
  background-position:  center;
}
.footer{
	color:white;
	background: #d64541;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:10px;
}
.footer ul li{
	display: inline-block;
	list-style: none;
	padding: 2%;


}
.footer p {
	float: left;
	padding: 2%;

}
